<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" th:with="lang=${#locale.language}" th:lang="#{language}">
<head>
    <meta charset="UTF-8">
    <title th:text="#{title.profile.address}"></title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link href="/css/bootstrap.min.css.map">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script type="text/javascript" src="/js/jquery-3.5.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>

    <!-- Select2 -->
    <link href="/css/select2.min.css" rel="stylesheet" />
    <script src="/js/select2.min.js"></script>

    <!-- Select2 Boostrap Theme -->
    <link rel="stylesheet" href="/css/select2-bootstrap4.css">
    <link rel="stylesheet" href="/css/select2-bootstrap4.min.css">

    <link rel="icon" type="image/ico" href="/img/favicon.ico">

    <script type="text/javascript" src="/js/script.js"></script>
</head>
<body class="bg-light">
<div class="container bg-white color">
    <div th:insert="fragments/navigation :: navigation" th:remove="tag"></div>

    <div class="container bg-white">
        <div class="container">
            <div class="form-row flex-md-row justify-content-center">
                <div class="col-md border border-success text-center mr-lg-2 mb-md-4 bg-success text-white">
                    <h6 th:text="#{booking.stepone}"></h6>
                    <h6 th:text="#{booking.stepone.text}"></h6>
                    <i class="fa fa-check" style="color:white"></i>
                </div>

                <div class="col-md border border-success text-center mr-lg-2 mb-md-4 bg-success text-white">
                    <h6 th:text="#{booking.steptwo}"></h6>
                    <h6 th:text="#{booking.steptwo.text}"></h6>
                    <i class="fa fa-check" style="color:white"></i>
                </div>

                <div class="col-md border border-success text-center mr-lg-2 mb-md-4 bg-success text-white">
                    <h6 th:text="#{booking.stepthree}"></h6>
                    <h6 th:text="#{booking.stepthree.text}"></h6>
                    <i class="fa fa-check" style="color:white"></i>
                </div>

                <div class="col-md border border-success text-center mr-lg-2 mb-md-4 bg-success text-white">
                    <h6 th:text="#{booking.stepfour}"></h6>
                    <h6 th:text="#{booking.stepfour.text}"></h6>
                    <i class="fa fa-check" style="color:white"></i>
                </div>

                <div class="col-md border border-primary text-center mr-lg-2 mb-md-4 bg-primary text-white">
                    <h6 th:text="#{booking.stepfive}"></h6>
                    <h6 th:text="#{booking.stepfive.text}"></h6>
                </div>
            </div>

            <br>
            <div class="container col-6 align-items-center pl-0">
                <h5 class="text-center" th:text="#{booking.review.message}"></h5>
                <br>
                <div class="border border-dark rounded p-4">
                    <form id="reviewForm"  th:object="${bookingData}">
                        <div>
                            <h5 class="text-center" th:text="#{booking.data.clientdata}"></h5>
                            <br>
                            <div class="form-row">
                                <div class="col">
                                    <div class="form-group">
                                        <h6 th:text="#{register.firstname}"></h6>
                                        <p class="border rounded py-2 pl-1" th:text="*{client.firstName}"></p>
                                    </div>
                                </div>

                                <div class="col">
                                    <div class="form-group">
                                        <h6 th:text="#{register.lastname}"></h6>
                                        <p class="border rounded py-2 pl-1" th:text="*{client.lastName}"></p>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <h6 th:text="#{register.email}"></h6>
                                <p class="border rounded py-2 pl-1" th:text="*{client.email}"></p>
                            </div>

                            <div class="form-group">
                                <h6 th:text="#{register.phonenumber}"></h6>
                                <p class="border rounded py-2 pl-1" th:text="*{client.phoneNumber}"></p>
                            </div>
                        </div>

                        <hr>

                        <div>
                            <h5 class="text-center" th:text="#{booking.review.delivery}"></h5>
                            <br>

                            <div th:if="${bookingData.deliveryType == 'emailDelivery'}">
                                <h6 th:text="#{booking.delivery.email}"></h6>
                            </div>

                            <div th:if="${bookingData.deliveryType == 'postDelivery'}">
                                <h6 th:text="#{booking.delivery.address}"></h6>

                                <br>

                                <div class="form-group">
                                    <h6 th:text="#{register.address}"></h6>
                                    <p class="border rounded py-2 pl-1" th:text="*{client.address}"></p>
                                </div>

                                <div class="form-group">
                                    <h6 th:text="#{register.addresstwo}"></h6>
                                    <p class="border rounded py-2 pl-1" th:text="*{client.additionalAddress}"></p>
                                </div>

                                <div class="form-row">
                                    <div class="form-group col-md-8">
                                        <h6 th:text="#{register.city}"></h6>
                                        <p class="border rounded py-2 pl-1" th:text="*{client.city}"></p>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <h6 th:text="#{register.zip}"></h6>
                                        <p class="border rounded py-2 pl-1" th:text="*{client.zip}"></p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <hr>

                        <div>
                            <h5 class="text-center" th:text="#{bookig.review.payment}"></h5>

                            <br>

                            <div class="form-group">
                                <h6 th:text="#{register.payment.name}"></h6>
                                <p class="border rounded py-2 pl-1" th:text="*{client.creditCardName}"></p>
                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <h6 th:text="#{register.payment.number}"></h6>
                                    <p class="border rounded py-2 pl-1" th:text="*{client.creditCardNumber}"></p>
                                </div>
                                <div class="form-group col-md-4">
                                    <h6 th:text="#{register.payment.expiration}"></h6>
                                    <div class="row align-left">
                                        <div class="col-md-6 pr-0">
                                            <p class="border rounded py-2 pl-1" th:text="*{client.creditCardExpirationMonth}"></p>
                                        </div>
                                        <div class="col-md-6 pl-1">
                                            <p class="border rounded py-2 pl-1" th:text="*{client.creditCardExpirationYear}"></p>
                                        </div>
                                    </div>

                                </div>
                                <div class="form-group col-md-2">
                                    <h6>CVV</h6>
                                    <p class="border rounded py-2 pl-1" value="***">***</p>
                                </div>
                            </div>
                        </div>

                        <hr>

                        <div th:if="${bookingData.client.getDiscountType().getId() != 1}">
                            <h5 class="text-center" th:text="#{booking.review.discount}"></h5>

                            <div class="form-group">
                                <h6 th:text="#{booking.discounttype.text}"></h6>
                                <p class="border rounded py-2 pl-1" th:text="__${#locale}__=='en'?*{client.discountType.getDocumentType()}:*{client.discountType.getDocumentTypeBG()}"></p>
                            </div>

                            <div class="form-group">
                                <h6 th:text="#{booking.review.discountvalue}"></h6>
                                <p class="border rounded py-2 pl-1" th:text="*{client.discountType.getDiscountValue() + '%'}"></p>
                            </div>
                        </div>

                        <br>

                        <div class="justify-content-center">
                            <div th:replace="fragments/ticket-info :: ticket"></div>
                        </div>

                        <br>

                        <div>
                            <h5 th:text="__${#locale}__=='en'?${'Total price to pay: ' + bookingData.getPrice() + ' leva'}:${'Обща сума за плащане: ' + bookingData.getPrice() + ' лв.'}"></h5>
                        </div>

                        <br>
                    </form>
                    <div class="form-group clearfix">
                        <form th:action="@{/booking/cancel-purchase}" th:method="post">
                            <button type="submit" class="btn btn-primary float-left">Откажи поръчка</button>
                        </form>
                        <form th:action="@{/booking/finish-purchase}" th:method="post">
                            <button type="submit" class="btn btn-primary float-right" id="finalize" th:text="#{booking.finalize}"></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:insert="fragments/footer :: footer" th:remove="tag"></div>
</body>
</html>